---
import Layout from "@layouts/Layout.astro"
import Prose from "@components/Prose.astro"
---

<Layout title="Обо мне">
  <Prose>
    <h1>Обо мне</h1>
    <p>
      Спасибо, что заглянули! Меня зовут Роман, мне 30 лет, я родился и большую часть жизни прожил в
      северном городе Сургуте, а сейчас живу в Москве и немалую часть своей жизни посвящаю
      программированию (а если точнее, веб-разработке и всему, что вокруг этого).
    </p>
    <p>
      У меня нет формального образования, я самоучка. Иногда это беспокоит меня, но потом я
      вспоминаю <a href="https://t.ly/iz7o">слова</a> Джеймса Беннета, одного из авторов фреймворка Django,
      и утешаюсь.
    </p>
    <p>
      Я с довольно большим энтузиазмом отношусь к разработке ПО. Для меня это и профессия, и
      увлечение. В свободное время я пробую интересные мне технологии, читаю статьи или книги,
      разрабатываю <a href="/projects">сайд-проекты</a> или работаю над Open Source. Всегда есть чем
      заняться. :)
    </p>
    <p>
      Вне работы я увлекаюсь иностранными языками (хорошо владею английским и немецким), музыкой и
      музыкальными инструментами (играю на гитаре, мучаю синтезатор).
    </p>
  </Prose>
</Layout>
