---
import Layout from "@layouts/Layout.astro"
import Prose from "../components/Prose.astro"
---

<Layout title="Связаться">
  <Prose>
    <h1>Связаться</h1>
    <p>
      По любым интересующим вопросам мне можно
      <a href="https://t.me/jediroman">написать в Telegram</a> или
      <a href="mailto:klavionik@gmail.com">отправить письмо</a>.
    </p>
    <p>
      Для работодателей у меня есть <a href="https://career.habr.com/jediroman">профиль</a>
      на Хабр.Карьере.
    </p>
  </Prose>
</Layout>
