---
import Container from "@components/Container.astro"
import { Astronav, MenuItems, MenuIcon } from "astro-navbar"

const pages = [
  {
    title: "Главная",
    path: "/",
  },
  {
    title: "Обо мне",
    path: "/about",
  },
  {
    title: "Проекты",
    path: "/projects",
  },
  {
    title: "Связаться",
    path: "/contact",
  },
]

const path = new URL(Astro.request.url).pathname
---

<header class="flex flex-col lg:flex-row justify-between items-center my-5">
  <Astronav>
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-md"
        ><span class="font-bold text-slate-800">Роман Власенко</span> | <span class="text-slate-500"
          >Software Engineer</span
        >
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
          pages.map((page) => (
            <li>
              <a
                href={page.path}
                class:list={[
                  "flex lg:px-3 py-2 text-gray-600 hover:text-gray-900",
                  path === page.path ? "text-sky-600 hover:text-sky-600" : "",
                ]}
              >
                {page.title}
              </a>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
